.postContainer {
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translateX(-50%); /* Centers the element horizontally */
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.MuiTextField-root {
  margin-bottom: 16px;
}

.MuiButton-containedPrimary {
  background-color: #1976d2;
}

.MuiTypography-h4 {
  font-weight: bold;
  margin-bottom: 24px;
}

.hover2 {
  position: absolute;
  left: 50%;
  transform: translateX(-60%);
  width: 100px;
  margin-left: 20px;
  height: 40px;
  font-size: 16px;
  border: none;
  outline: none;
  color: #000000;
  border: 1px black solid;
  background-color: #ffffff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.hover2:before {
  content: "";
  background: linear-gradient(
    135deg,
    #fd1d1d,
    #d62976,
    #fa7e1e,
    #feda75,
    #48ff00,
    #00ffd5,
    #4f5bd5,
    #7a00ff,
    #962fbf,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: 102%;
  height: 108%;
  animation: moving-gradient 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.hover2:active {
  color: #ffffff;
}

.hover2:active:after {
  opacity: 0;
}

.hover2:hover:before {
  opacity: 1;
}

.hover2:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes moving-gradient {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* hover3 starts here */

.hover3 {
  position: absolute;
  width: 100px;
  margin-left: 20px;
  height: 40px;
  font-size: 16px;
  border: none;
  outline: none;
  color: #000000;
  border: 1px black solid;
  background-color: #ffffff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.hover3:before {
  content: "";
  background: linear-gradient(
    135deg,
    #fd1d1d,
    #d62976,
    #fa7e1e,
    #feda75,
    #48ff00,
    #00ffd5,
    #4f5bd5,
    #7a00ff,
    #962fbf,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: 102%;
  height: 108%;
  animation: moving-gradient 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.hover3:active {
  color: #ffffff;
}

.hover3:active:after {
  opacity: 0;
}

.hover3:hover:before {
  opacity: 1;
}

.hover3:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes moving-gradient {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
