/* slugpage.module.css */
.slugPageContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  position: absolute;
  background-color: #ffffff;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
}
